<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Welcome to admin page</title>
    </head>
    <body>

        <h1>This page contains sensitive data only for administrators!</h1>    
       
        <ul>
            <li th:each="user : ${users}">
                <span th:text="${user.name}">name</span> 
                <span th:text="${user.address}">address</span> 
            </li>
        </ul>
        
        
    </body>
</html>
